/*
修改自 vuepress-plugin-md-enhance (MIT)
@src https://github.com/vuepress-theme-hope/vuepress-theme-hope/blob/main/packages/md-enhance/src/client/styles/mermaid.scss
@last-updated 2022-8-13
@author MrHope
 */

.md-enhance-mermaid {
  overflow-x: auto;
  padding: 0.6em 0.4em;
  text-align: center;
  transition: all 1s;

  @media (max-width: 419px) {
    margin: 0 -1.5rem;
    padding: 0.6em 0;
  }

  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grey14);

    svg {
      width: 4em;
      height: 4em;
      margin: 2.5em auto;
      color: var(--vp-c-brand, #e3e3e3);
    }
  }

  .node rect,
  .clusters rect,
  rect.note,
  .actor {
    rx: 8;
    ry: 8;
  }
}
