/*
修改自 vuepress-plugin-md-enhance (MIT)
@src https://github.com/vuepress-theme-hope/vuepress-theme-hope/blob/main/packages/md-enhance/src/client/styles/tasklist.scss
@last-updated 2022-8-13
@author MrHope
 */

input[type='checkbox'].task-list-item-checkbox {
  position: relative;
  width: 0;
  margin-right: 1.5em;
  cursor: pointer;

  html:not(.no-touch) & {
    margin-right: 1.4em;
    vertical-align: middle;
  }

  &::after {
    content: ' ';

    position: absolute;
    top: 0;

    display: inline-block;

    box-sizing: border-box;

    width: 1em;
    height: 1em;
    padding-left: 0;
    border: 1px solid #ddd;
    border-radius: 2px;

    background-color: #fff;

    text-align: center;

    visibility: visible;

    html.dark & {
      border-color: #666;
      background-color: #333;
    }
  }

  &:checked {
    &::after {
      content: '';
      border-color: var(--vp-c-brand);
      background-color: var(--vp-c-brand);

      html.dark & {
        border-color: var(--vp-c-brand);
        background-color: var(--vp-c-brand);
      }
    }

    &::before {
      content: '';

      position: absolute;
      top: 0.1em;
      left: 0.35em;
      z-index: 1;

      width: 0.3em;
      height: 0.7em;
      border: solid var(--vp-c-white-soft);
      border-width: 0 0.15em 0.15em 0;

      transform: rotate(45deg);
    }
  }
}
